# TelsaETA configuration
PORT=5051
DATA_DIR=/data/
SECRET_KEY=RANDOMLY_GENERATED_HERE
ADMIN_PASSWORD=PASSWORD_FOR_ADMIN_PAGE
BASE_URL=/map
MAPBOX_TOKEN=pk.BLA

JWT_SECRET=RANDOMLY_GENERATED_HERE

# BACKEND_PROVIDER can only be "teslamate-mqtt"
BACKEND_PROVIDER=teslamate-mqtt
BACKEND_PROVIDER_HOSTNAME=mosquitto
BACKEND_PROVIDER_CAR_ID=1
BACKEND_PROVIDER_MULTICAR=False

# If BACKEND_PROVIDER is teslamate-mqtt
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

TZ=Europe/Berlin