certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
Flask==3.0.3
idna==3.10
importlib-metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
pip==24.3.1
python-dotenv==1.0.1
requests==2.32.3
setuptools==75.3.0
shortuuid==1.0.13
urllib3==2.2.3
Werkzeug==3.1.2
wheel==0.44.0
zipp==3.20.2
flask-login==0.6.3
geopy==2.4.1
flask_sqlalchemy==3.1.1
flask-migrate==4.0.7
sqlalchemy==2.0.36