<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='tailwind.css') }}" rel="stylesheet">
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.2/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.2/mapbox-gl-geocoder.css" type="text/css">
  <style>
    #geocoder-container>div {
      min-width: 50%;
      margin-left: 25%;
    }
  </style>


  <title>Admin - Tesla ETA</title>
</head>

<body>
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden" src="{{ url_for('static', filename='eta-logo.png') }}"
              alt="TeslaETA">
            <img class="hidden h-8 w-auto lg:block" src="{{ url_for('static', filename='eta-logo.png') }}"
              alt="TeslaETA">
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <a href="logout">
            <button type="button"
              class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="sr-only">Logout</span>
              <!-- Heroicon name: solid/arrow-left-on-rectangle -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                  d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z"
                  clip-rule="evenodd" />
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </nav>

  {% if uuid is defined %}
  <div class="bg-gray-600">
    <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
      <div class="flex flex-wrap items-center justify-between">
        <div class="flex w-0 flex-1 items-center">
          <span class="flex rounded-lg bg-gray-800 p-2">
            <!-- Heroicon name: outline/link -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
            </svg>
          </span>
          <p class="ml-3 truncate font-medium text-white">
            <span class="md:hidden">Link has been created!</span>
            <span class="hidden md:inline">Your link has been created!</span>
          </p>
        </div>
        <div class="order-3 mt-2 w-full flex-shrink-0 sm:order-2 sm:mt-0 sm:w-auto">
          <a href="{{ BASE_URL }}/{{ uuid }}"
            class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-2 text-sm font-medium text-gray-600 shadow-sm hover:bg-gray-50">View
            Link</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-3">
    </div>
  </div>

  <div class="container mx-auto">
    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Active Links</h3>
            <p class="mt-1 text-sm text-gray-600">Your currently active links</p>
          </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0">
          <div class="overflow-hidden shadow sm:rounded-md">
            <div class="bg-white px-4 py-5 sm:p-6">
              <div class="table w-full ...">
                <div class="table-header-group ...">
                  <div class="table-row">
                    <div class="table-cell text-left font-bold">Expiry</div>
                    <div class="table-cell text-left font-bold">Link</div>
                  </div>
                </div>
                <div class="table-row-group">
                  {% for row in result %}
                  <div class="table-row">
                    <div class="table-cell">{{ row.expiry|fromtimestamp }}</div>
                    <div class="table-cell"><a href="{{ BASE_URL }}/{{ row.shortuuid }}"><button
                          class="inline-flex justify-center rounded-md border border-transparent bg-gray-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">View
                          Link</button></a></div>
                  </div>
                  {% endfor %}
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="container mx-auto">
    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Create Link</h3>
            <p class="mt-1 text-sm text-gray-600">Create a Link to share your ETA</p>
          </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0">
          <form action="#" method="POST">
            <div class="overflow-hidden shadow sm:rounded-md">
              <div class="bg-white px-4 py-5 sm:p-6">

                <div id="map" class="w-full h-96 bg-slate-600"></div>
                <script>
                  var marker_lat = 0
                  var marker_lng = 0

                  mapboxgl.accessToken = '{{ mbtoken }}';
                  const map = new mapboxgl.Map({
                    container: 'map',
                    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
                    style: 'mapbox://styles/mapbox/navigation-day-v1',
                    center: [{{ car_location[0] }}, {{ car_location[1] }}],
                    zoom: 13
                    });

                  const geocoder = new MapboxGeocoder({
                    accessToken: mapboxgl.accessToken,
                    marker: {
                      color: '#DC2626',
                      draggable: true
                    },
                    mapboxgl: mapboxgl,
                    // Limit Search to ~3300km at EU latlongs.
                    bbox: [
                      {{ car_location[0] - 30 }},
                      {{ car_location[1] - 30}},
                      {{ car_location[0] + 30 }},
                      {{ car_location[1] + 30}}
                      ],
                    proximity: {
                      longitude: {{ car_location[0] }},
                      latitude: {{ car_location[1]}}
                      }
                      });

                  map.addControl(geocoder);

                  function updateVars() {
                    marker_lat = geocoder.mapMarker.getLngLat().lat
                    marker_lng = geocoder.mapMarker.getLngLat().lng

                    document.getElementById("lat").value = marker_lat
                    document.getElementById("lng").value = marker_lng
                  };

                  function dragUpdater() {
                    geocoder.mapMarker.on('dragend', updateVars)
                  };

                  geocoder.addControl

                  geocoder.on('result', updateVars);
                  geocoder.on('result', dragUpdater);

                </script>

                <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-3">
                    <label for="lat" class="block text-sm font-medium text-gray-700">Latitude</label>
                    <input type="text" name="lat" id="lat"
                      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500 focus:ring-gray-500 sm:text-sm">
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label for="lng" class="block text-sm font-medium text-gray-700">Longitude</label>
                    <input type="text" name="lng" id="lng"
                      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500 focus:ring-gray-500 sm:text-sm">
                  </div>

                  <div class="col-span-6 sm:col-span-4">
                    <label for="expiry" class="block text-sm font-medium text-gray-700">Expire Link At</label>
                    <input type="datetime-local" name="expiry" id="expiry"
                      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500 focus:ring-gray-500 sm:text-sm">
                  </div>

                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                <button type="submit"
                  class="inline-flex justify-center rounded-md border border-transparent bg-gray-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">Create
                  Link</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if multicar == 'True' %}
  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="container mx-auto">
    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Change Car</h3>
            <p class="mt-1 text-sm text-gray-600">Use another Car from your backend</p>
          </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0">
          <form action="#" method="GET">
            <div class="overflow-hidden shadow sm:rounded-md">
              <div class="bg-white px-4 py-5 sm:p-6">

                <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-3">
                    <label for="lat" class="block text-sm font-medium text-gray-700">Car ID</label>
                    <input type="text" name="carid" id="carid" value="{{ carid }}"
                      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-500 focus:ring-gray-500 sm:text-sm">
                  </div>


                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                <button type="submit"
                  class="inline-flex justify-center rounded-md border border-transparent bg-gray-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">Change Car</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</body>

</html>